a {
    color: #0366d6;
    text-decoration: none;
}
div {
    color: #0366d6;
    text-decoration: none;
<<<<<<< HEAD
    border: 1px solid red;
=======
}
p {
    color: #0366d6;
    text-decoration: none;
>>>>>>> master
}